//colors
$light-blue: #1ACDCC;
$dark-gray: #2B2D33;
//font weight
$font-bold: 700;
//TO DO-create mixin for box shawoding
//TO DO-include mixin for header, main img & feature lists.

@import "http://fonts.googleapis.com/css?family=Lato:300,700.css";
@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";


// START OF PAGE HEADER

header#page_header {
  background-color: $dark-gray;
  height: 150px;
  width: 100%;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;

  .title h1{
    color: $light-blue;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    background-color: red;
    span {
      margin-right: 95px;
    }
  }  
} //end of header#page_header

.bird_img { //TO DO-add box shadowing
  background-image: url('/images/logo.png');
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 170px;
} // end of .bird_img

.header_content li {
  display: inline-block;
  margin-right: 20px;
  padding-top: 30px;
}

li.nav_link {
  display: inline-block;
  letter-spacing: 2px;
  border-bottom: 5px solid $light-blue;
  margin-right: -5px;
  padding-right: 22px;
  padding-left: 0px;
  padding-bottom: 10px;

  &:hover {
    border-color: #fff;

    a {
      color: #fff;
    }
  }
}
// END OF PAGE HEADER


// START OF CONTENT

.content {
  height: 750px;
  //width: 100%;
  background-color: red;
}

.header_content li a{
  font-size: 13px;
  color: $light-blue;
  text-transform: uppercase;
  font-weight: $font-bold;
}

.lorem {
  font-weight: $font-bold;
  font-size: 25px;
}

.content_img {
  background-image: url('/images/scenery.png');
  height: 380px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.content_info ul {
  font-weight: $font-bold;
  color: black; //TO-D0 WHY DOESN'T IT TURN BLACK!!!
  text-transform: uppercase;
  text-align: center;

  li {
    &.nav_black {
      padding: 15px;
      border-bottom: 1px solid $light-blue;
      background-color: black;
      list-style-type: none;
    }

    &.nav_content {
      padding: 15px;
      border-bottom: 1px solid gray;
      background-color: $light-blue;
      list-style-type: none;

      a {
        color: black;
        
        span.hover_color {
          margin-right: -20px;
          padding-right: 22px;
          color: #fff;
        }
      }
    }
  }
}

// END OF CONTENT

// START OF THREE CONTENT

#three_content{
  background-color: #2B2D33;
  height: 300px;
  width: 100%;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  padding-top: 50px;
}

// .row {
//   list-style-type: none;
//   padding: 25px;
// }

.vertical-line { // TO DO - TRY BE DRY!
  border-left: 3px solid $light-blue;
  padding-left: 30px;
}

#bottom_two {  // TO DO - TRY BE DRY!
  border-left: 3px solid $light-blue;
  padding-left: 30px;
}

#bottom_three {  // TO DO - TRY BE DRY!
  border-left: 3px solid $light-blue;
  padding-left: 30px;
}

.bottom_block li a{
  font-size: 15px;
  color: $light-blue;
  text-transform: uppercase;
  letter-spacing: 2px;
}

li.nav_tab {
  list-style-type: none;

  &:hover {
    border-color: #fff;

    a {
      color: #fff;
    }
  }
}
// END OF THREE CONTENT

// START FOOTER
footer{
  background-color: $light-blue;
  //position: fixed;
  //bottom: 0;
  // width: 100%;
  height: 42px;
}

.footer_tag{
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: $dark-gray;
  text-transform: uppercase;
  font-weight: $font-bold;
}
// END FOOTER


