//colors
$light-blue: #1ACDCC;
$dark-gray: #2B2D33;
//font weight
$font-bold: 700;
//TO DO-create mixin for box shawoding
//TO DO-include mixin for header, main img & feature lists.

@import "http://fonts.googleapis.com/css?family=Lato:300,700.css";
@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";

@mixin box-shadow(){
  -webkit-box-shadow: 0 0 5px 3px #ccc7cf;
  -moz-box-shadow: 0 0 5px 3px #ccc7cf;
  box-shadow: 0 0 5px 3px #ccc7cf;
}

.top-bar {
  background-color: $dark-gray;
  width: 100%;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  height: 65px;
  //TO DO-make the icon bar blue color

 
  .title-area {
    letter-spacing: 2px;
    height: 60px;

    h1 {
      margin-top: 15px;
    }
    span#flappy {
      font-size: 20px;
      color: $light-blue;
      text-transform: uppercase;
      font-weight: $font-bold;
      margin-left: 95px; 
    }

    span#app {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      font-weight: $font-bold;
    } 
  
    li.name { 
      position: absolute;
      div.bird_img { //TO DO-add box shadowing
        background-image: url('/images/logo.png');
        width: 100%;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        //background-color: pink;
        position: relative;
        top: -50px;
        left: 10px;
      } // end of .bird_img
    } // end of li.name
  } // end of .title-area

  .top-bar-section ul li > a {
    color: $light-blue;
    text-transform: uppercase;
    font-weight: $font-bold;
    letter-spacing: 5px;
  } //end of .top-bar-section ul li > a
} // end of .top-bar


body {
  @media #{$large-up} {
    //background-color: orange;
  }

  @media #{$medium-only} {
   background-color: $dark-gray;
  }

  @media #{$small-only} {
    background-color: $dark-gray;
  } //end of @media small-only

} //end of @media large-up


header#page_header {
  background-color: $dark-gray;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  height: 250px;//TO DO-make smaller size
  width: 100%;

  @media #{$large-up}{
    @include box-shadow();
  }

  @media #{$medium-up}{
    height: 150px;
  }
  .title {
     @media #{$medium-only}{
      padding-top: 40px;
      padding-right: 25px;
    }
    @media #{$small-only}{
      padding-left: 0;
    }
  }

  h1{
    color: $light-blue;
    text-transform: uppercase;
    font-weight: $font-bold;
    letter-spacing: 5px;
    //background-color: red;
    float: right;
    margin-left:125px;

    @media #{$large-up}{
      display: inline-block;
      margin-left: 6px;
      //margin-top: 30px;
      padding-top: 30px;
      font-size: 55px;
    }
    @media #{$medium-only}{
      font-size: 20px;

    }
    @media #{$small-only}{
      font-size: 15px;
    }
    
    span.flappy{
      //background-color: green;
        @media #{$large-up}{
        margin-right: 60px;
      }
    }
    span.app{
      //background-color: purple;
      display: block;
      @media #{$large-up}{
        display: inline-block;
        margin-right: 55px;
      }
        @media #{$medium-only}{
          color: #fff;
      }
    }
  }  
} //end of header#page_header

.bird_img { 
  background-image: url('/images/logo.png');
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  //background-color: pink;
  @media #{$large-up}{
    top: 35px;
    left: 290px;
    position: absolute;
  }
  @media #{$medium-only}{
    height: 55px;
    width: 75%;
  }
  @media #{$small-only}{
    height: 50px;
    width: 60%;
  }
} // end of .bird_img

.header_content {
  padding-top: 55px;
  //background-color: green;

  @media #{$large-up}{

  }
  @media #{$medium-only}{
    
  }
  @media #{$small-only}{
    display: none;
  }
  
  ul {
    float: right;
    //background-color: blue;
    //margin-left: 25px;

    @media #{$small-only}{
      display: none;
    }
    li {
      &.nav_link {
        display: inline;
        float: left;

        @media #{$large-up}{
     
        }
        @media #{$medium-only}{
          //background-color: pink;

        }
        @media #{$small-only}{
          
        }

        &#about_nav_link a {
          padding-left: 5px;
        }

        a{
          font-size: 15px;
          color: $light-blue;
          text-transform: uppercase;
          font-weight: $font-bold;
         
          padding-bottom: 10px;
          display: block;
          letter-spacing: 2px;
          @media #{$large-up}{
            border-bottom: 5px solid $light-blue;
            padding-right: 15px;
            padding-left: 15px;
          }
          @media #{$medium-only}{
             padding-right: 12px;
             padding-left: 12px;
          }
          @media #{$small-only}{
           
          }
          &:hover {
            border-color: #fff;
            color: #fff;
          }
        }
      }
    }
  }
} //end of .header_content


// END OF PAGE HEADER


// START OF CONTENT

.content {
  background-color: #fff;

  @media #{$large-up}{
  height: 750px;
  padding-top: 50px;
  }
  @media #{$medium-only}{
   //background-color: pink;
   padding-right: 0;

  }
  @media #{$small-only}{
   
  }
}
.content_img {
  background-image: url('/images/scenery.png');
  height: 270px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  
  @media #{$large-up}{
    border: 4px solid black;
    @include box-shadow();
  }
  @media #{$medium-only}{
   height: 260px;
   width: auto;
   margin-left: -0.9375rem;
   margin-right: -0.9375rem;
  }
  @media #{$small-only}{
   width: auto;
   margin-left: -0.9375rem;
   margin-right: -0.9375rem;
  }
}

.content_info ul {
  font-weight: $font-bold;
  color: $light-blue; //TO-D0 WHY DOESN'T IT TURN BLACK!!!
  text-transform: uppercase;
  text-align: center;
  margin-left: 0;
  
  
  @media #{$large-up}{
    @include box-shadow();
  }

  @media #{$medium-only}{
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    @include box-shadow(); //TO DO-take off shawdow at top of black & only bottom
  }
  @media #{$small-only}{
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  li {
    &.nav_black {
      padding: 15px;
      border-bottom: 1px solid $light-blue;
      background-color: $dark-gray;
      list-style-type: none;
      letter-spacing: 2px;
      height: 48px;
      a {
        color: $light-blue;
      }
    }

    &.nav_content {
      padding: 15px;
      border-bottom: 1px solid gray;//TO DO-light blue color
      background-color: $light-blue;
      list-style-type: none;
      letter-spacing: 2px;
      font-size: 15px;
      
      a {//TO DO-not recognizing color & bold.
        font-weight: $font-bold;
        color: $dark-gray;
      }

      .white_color {
        color: #fff;
      }

      a {
        color: black;
        
        span.hover_color {
          margin-right: -20px;
          padding-right: 22px;
          color: #fff;
        }
      }
    }
  }
}

.lorem {
  font-weight: $font-bold;
  font-size: 25px;
  color: $dark-gray;

  //background-color: #fff;
  @media #{$small-only}{
   padding-left: 10px;
   padding-right: 10px;
   //background-color: #fff;
  }
}


// END OF CONTENT


// START OF THREE CONTENT
#three_content{
  background-color: $dark-gray;
  height: 300px;
  width: 100%;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  padding-top: 50px;
}

#bottom_one {
  @media #{$small-only}{
    margin-left: 5px;
    line-height: 235%;
  }
}

#bottom_two {

  @media #{$small-only}{
    display: none;
  }  
}

#bottom_three {
  @media #{$small-only}{
  padding-left: 0px;//TO DO-center to the left.
  }
}
.bottom_block {
  border-left: 3px solid $light-blue;
  padding-left: 20px;
  @media #{$large-up}{
  
  }
  @media #{$medium-only}{
    border-left: none;
  }
  @media #{$small-only}{
   border-left: none;
  }
  li {
    list-style-type: none;

    &:hover {
      border-color: #fff;
    }

    a {
      font-size: 15px;
      color: $light-blue;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 200%;
      font-weight: $font-bold;

      &:hover {
        color: #fff;
      }
    }
  }
}

// END OF THREE CONTENT

// START FOOTER

footer{
  padding-bottom: 25px;
  height: 35px;
  @media #{$large-up}{
    color: $dark-gray;
    background-color: $light-blue;
  }
  @media #{$medium-only}{
    color: #fff;
  }
  @media #{$small-only}{
    color: #fff;
  }
}

.footer_tag{
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: $font-bold;
  letter-spacing: 2px;
  padding-top: 7px;
}
  @media #{$large-up}{
  
  }
  @media #{$medium-only}{

  }
  @media #{$small-only}{
   
  }

// END FOOTER

