@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";

header#pageHeader {
  padding: 100px 0 0;
  background-color: blue;
  background-image: url('/layout/images/border.png');
}

